<a href="https://colab.research.google.com/github/luanamarinho/adv-r/blob/master/scripting_practical1_2425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Scripting languages: practical session 1

Wednesday, 2 October 2024

## Preliminaries

For this first practical session of the course 'Scripting languages', we'll make use of a notebook environment. A notebook is an interactive environment that makes it possible to run code (in our case, Python code) within a web browser.

You have two options to run the notebook environment:

- On your own computer, you can use **Jupyter Notebook**. If you installed the Anaconda distribution, Jupyter notebook should be available through Anaconda. You can start the environment using the *Anaconda navigator*. The notebook environment will load in your web browser. Once the environment is loaded, you'll get a directory structure that you can use to open the `.ipynb` file that you saved to your computer (available to download from the Toledo coursepage).

- You can also make use of **Google Colab**. Google Colab offers a similar notebook interface. Note, however, that the code will not be running on your own computer, but on Google's servers, accessed through the online environment. In order to make use of Google Colab, you will need a Google account.

In a notebook, you can run the code (which is marked by a gray background) by clicking on it, and then pressing `Ctrl+Enter` (i.e., pressing the `Ctrl` and the `Enter` key on your keyboard at the same time). In Google Colab, you can also press the *play* button that appears in front of the code when hovering over it. Try it out below:

In [ ]:
1 + 1

An important remark: when running code cells you should run them in order, from top to bottom of the notebook. This is because cells may rely on the results of other cells. Without those earlier results being available it is very likely that you will get an error.

Note: in Jupyter notebook, you can save the changes you make by pressing the save button in the menu. In Google Colab, you will need to make a copy of the notebook in order to save the changes you make. By selecting 'File' -> 'Save a Copy in Drive', you can copy the current Google Colab session to your Google Drive, so that changes you make will be saved, and you can access them later.

## Introduction

In this practical session, we'll review the fundamental concepts that we've looked at during the lecture on Wednesday (such as functions, variables, strings, and lists), and you'll have a chance to practice these concepts with a number of exercises.

In many programming courses, for many different programming languages, the first program you learn is called `HelloWorld`. It's a very simple program that prints the text `Hello, world!` to the screen.

In [ ]:
print("Hello, world!")

What happens is that you call the `print()` function with a single argument. This argument is the string `"Hello, world!"`. When the function is executed, its argument is displayed on screen.

In [ ]:
print('Hello, world!')

As you can see, using single quotes (`'`) or double quotes (`"`) does not really matter, so you can choose, depending on the content of your text.

###Exercise 1: Print your name

Write your solution in the code-box below. Note that text which appears after the `#`-sign, is considered a comment, and is not interpreted by the Python interpreter.

In [ ]:
# Write the solution to the exercise here

## Numbers
With numbers, you can do simple arithmetic, like you would expect. Note that for computers the `*` is usually the sign for *multiplication*, and `/` is the sign for *division*. Remember that calculations in Python are carried out according to precedence rules, as we've seen during class.

In [ ]:
2 + 2

In [ ]:
2 + 6 - 3

In [ ]:
2 * 1 + 3

In [ ]:
2 * ( 1 + 3 )

In [ ]:
3 / 4

Note that Python displays the result of the calculation in the output, although there is no `print()` statement. This is because Python returns the evaluation of the last line, which in this case, returns the results of the calculation.

If we want to make sure the result is shown, we can put the calculation in a `print()` statement. Note that no quotes are required, since we do not want to print the literal string, but the result of the calculation.

In [ ]:
print(3 + 4 / 2)   # prints the result of the calculation
print("3 + 4 / 2") # prints the string between the ""

### Exercise 2: Calculation
The exponent (power) operator in Python is `**`.

`3 ** 2` is `9`, and

 `49 ** ( 1 / 2 )` is `7` (the square root of 49).

Use an expression to find the sum of the numbers 1 through 3 squared, i.e. $1^2+ 2^2+ 3^2$.

In [ ]:
# Write the solution to the exercise here

Now compute how many seconds there are in one year (365 days).

In [ ]:
# Write the solution to the exercise here

### Exercise 3: Average
The local dancing club provides two different dance classes: the first one is hip hop, and the other is swing. The four participants of the first class are aged 22, 17, 24, and 29. The five participants of the second class are aged 44, 22, 39, 56, and 42.

What is the average age of people in each group? What about all of them together?

In [ ]:
# Solution

# average age of first group

# average age of second group

# average age of all members

## Variables

Expressions will often become so big that they become too inconvenient to keep all on one line. Suppose that a highway patrol car is measuring the average car speed (in km/h) at 5pm in the evening and at 2am at night, as well as the combined average. They take three measurements at in the evening (78, 83, 88), and four measurements at night (122, 145, 111, 110).

### Exercise 4: Average II
Compute the average without variables, just like before

In [ ]:
# Average in the afternoon

# Average at night

# Combined average

It’s doable, but inconvenient and error-prone.

**Variables** solve this problem by letting you store intermediate values for later use. Let’s work that example again, this time using variables:

In [ ]:
afternoon_avg = (78 + 83 + 88) / 3
night_avg = (122 + 145 + 111 + 110) / 4
combined_avg = (afternoon_avg + night_avg) / 2
print(afternoon_avg, night_avg, combined_avg)

## Strings
A string is a sequence of characters, like `"wug"` or `'currywurst'`. If you're taking this course, you are probably interested in digital humanities or NLP, and so you will be working with strings a lot.

To write a string, you may use single quotes, double quotes, or triple quotes:

In [ ]:
"a string"

If you create a string by using single quotes, but you have an actual single quote inside your string, then you will need to put a backslash in front of that single quote. This is called *escaping* a character.

In [ ]:
'here, apostrophes\'ll need a backslash before them'

Of course, the same goes for double quotes:

In [ ]:
"\"here\", he says, \"quotes need a backslash\""

In [ ]:
"but apostrophes won't"

By using triple quotes (actually, three double quotes) you can include both single and double quotes, and your string may consist of multiple lines.

In [ ]:
"""
"Un-backslashed apostrophes and quotes 'll be just fine",
she said, "and multiple lines, too ."
"""


There are some character sequences that have special meanings within strings, and the two most important ones are `\n`, for starting a new line, and `\t`, for a tab

In [ ]:
print(' one\ttwo ')

In [ ]:
print('one\ntwo')

With numbers, there are only so many basic functions we could apply to them. With strings, there are many more. `+` and `*` can be used on strings, with intuitive meaning:

In [ ]:
first_name = "Richard"
second_name = "Simmons"

full_name = first_name + " " + second_name
print(full_name)

long = 'l' + 'o' * 10 + 'ng'
print(long)

Strings also have **methods**. Methods are functions that are closely associated with a certain type of data. We’ll talk more about them later, but for now, you should just know that they’re written in the syntax `t.f()` instead of in the syntax `f(t)`, like a function you might know from mathematics.

For example, strings have a replace method that replaces every occurrence of some pattern inside the string with another string:

In [ ]:
s = "blockchains will change the world"
s = s.replace("blockchain", "giant spreadsheet")
print(s)

If you’re curious, you can find a full list of Python’s string methods in the
[official documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

### Exercise 5: Substitution
Use the replace method to turn `"Warden Greely's Nordic garden"` into `"Warten Greely's Nordic garten"`.

In [ ]:
# Solution for Exercise 5

### Exercise 6: Concatenation

Use `+` and `*` to produce `"Buffalo buffalo buffalo Buffalo buffalo"`
using the variables `B = "Buffalo"` and `b = "buffalo"`, and a whitespace character.

In [ ]:
# Solution for Exercise 6

## Types and exceptions

Every object in Python has a **type**. Numbers can be of type `int` or `float`. `int` stands for integer, and `float` stands for floating-point number (used to represent real numbers). The two are distinguished in Python because computers can work with `int` much more quickly than with `float`. Python has other data types that are not numeric. These include strings
(sequences of characters), booleans (the special words `True` and `False`), and
many others. If you want to find out what the type of something is, you can simply use the built-in function `type`:

In [ ]:
a = 2
type(a)

In [ ]:
type(3.4)

In [ ]:
type(True)

In [ ]:
type('spam')

Sometimes it makes sense to combine two variables that have different types. `int` and `float` can combine with each other without any difficulty.

In [ ]:
x = 13.2
y = 2
print(type(x), type(y))

z = x / y
print(type(z), z)

On the other hand, it doesn’t always make sense to combine two values that have different types. What should the expression `1 + "spam"` evaluate to? In some sense, this expression is odd because we are trying to combine two types that aren’t very similar: one is a number, and the other is a bunch of characters. Python doesn't know what to do with that, so it throws an **exception**:

In [ ]:
1 + "spam"

The `TypeError` is telling us that the `+` operator was given two values it didn’t
know how to add because of their types.
What if we really did want to make a number a part of a string, though?

Python has built-in functions for cases like these that take a value and transform
it into a sensible equivalent in the target type:

In [ ]:
number_of_eggs = 7 + 4 + 2
print("Number of eggs:", number_of_eggs, type(number_of_eggs))

number_of_eggs_string = str(number_of_eggs)
print("Number of eggs:", number_of_eggs_string, type(number_of_eggs_string))

# now we can concatenate `number_of_eggs_string` with another string
print(number_of_eggs_string + ' eggs')

## Lists

Let's define a sentence and split it into words, using the function `split` that can be applied to strings. We will split the sentence based on a whitespace character.

In [ ]:
sentence = 'the dog barks to the postman'
words = sentence.split(' ')
print(words)

What you are seeing above, is Python’s `list` data type. The function `split` splits the string into separate items based on the separator defined as an argument (in this case the whitespace character), and puts them in a list. A list is simply a collection of values stored in a certain order. While the list is conceptually simple, you will see that it is very powerful.

Continuing from above, let’s try retrieving individual items from the list:

In [ ]:
words[0]

In [ ]:
words[1]

In [ ]:
words[4]

In [ ]:
words[-1]

In [ ]:
words[-2] + words[-1]

We refer to the number inside of the square brackets as the index, which corresponds to a position within the list. Something that might surprise you is that we started counting at 0 instead of 1. This is a convention followed in most programming languages.

A consequence of this is that although there are 6 items in the list, attempting to access index 6 (`words[6]`) fails, because it actually refers to the non-existent 7th element:

In [ ]:
words[6] # this fails!

We can also get spans of words. These spans are called slices:

In [ ]:
words[0:5]

In [ ]:
words[2:-1]

Slices have a start index and an end index. However, as you can see, the item in the left index is *included*, while the item in the right index is *excluded*.
Why not include both? One reason for this is that defining slices this way
lets you use the `len`, which tells you the length of a list, as a slice’s right
index:

In [ ]:
len(words)

In [ ]:
words[1:len(words)]

You can also omit one or both of the slice indices, as well as use negative
indices:

In [ ]:
words[:2]

In [ ]:
words[2:]

In [ ]:
words[-2:]

It turns out that many other types in Python support the indexing and
slicing operations, as well.

Strings, for example, are among them. In the next bit, the `s` variable contains a string, and by using indices, we treat it as a list of characters, and point to the characters within the string.

In [ ]:
s = "I shall be late!"
s[0]

In [ ]:
s[-6:]

If you want to add an element to a list, you can use the `append` method:

In [ ]:
chars = ['Alice', 'Pat', 'Cheshire Cat']
chars.append('Mad Hatter')

chars

You can also concatenate lists together using the `+` operator.

In [ ]:
chars = chars + ['Queen of Hearts', 'King of Hearts']
chars

In order to delete items from a list, you can use the `pop` method:

In [ ]:
words.pop()
words

You can also use slices to create a new list:

In [ ]:
words[2:4] + words[0:2] + ['indeed']

### Exercise 7: Construct list
Using the list `a = ['Alice', 'was', 'not', 'a', 'bit', 'hurt']`, construct
these lists:


1.   `['not', 'a', 'bit', 'hurt']`
2. `['Alice', 'was', 'hurt']`
3. `['Alice', 'hurt', 'a', 'bit']`
4. `['a', 'bit', 'hurt', 'Alice', 'not']`

(Hint: remember that if you have a string `'s'` you can surround it with
brackets `['s']` to turn it into a list with one element.)

In [ ]:
# Code for exercise 7

### Exercise 8: Construct list

Find at least three different ways to form the list `['Alice', 'was', 'a', 'bit', 'hurt']` using the list in exercise 7.

In [ ]:
# Code for exercise 8

### Exercise 9: pop and append
Use only the functions `pop` and `append` to turn the list
`['many', 'a', 'strange', 'tale']` into `['many', 'a', 'tale']`.

In [ ]:
# Code for exercise 9

### Exercise 10: join

Strings have a function called `join` that inserts the string in between
every item in a list of strings it is given.

In [ ]:
" ".join(['riper','years'])

Use the function `join` in order to turn the `words` list into a string, such that the words are separated by tabs.

In [ ]:
# code for exercise 10

### Exercise 11: slicing

Use slicing to turn the string `'the voice of the shepherd boy'` into
`'the shepherd of the boy'`.

In [ ]:
# code for exercise 11

s = 'the voice of the shepherd boy'

## When (not) to assign

You might have noticed that when we’re making changes to our data, sometimes
we use assignment, and sometimes we don’t:

In [ ]:
x = 2
x = x + 1 # x is now 3
print(x)

y = [1, 2]
y.append(3) # y is now [1,2,3]
print(y)

With `x`, we evaluate the expression `x + 1` and assign the result back into  `x`.
With `y`, we use append to add `3` to the list, but we do not do anything with
the result of the expression `y.append(3)`.

So what’s going on here? Let’s see what happens when we use the opposite
strategy with either data type:

In [ ]:
x = 2
x + 1
print(x)

y = [1,2]
z = y.append(3)
print(z)
print(y)

In the first case, the results make sense: we computed the quantity `x + 1 =
3`, but did not assign it to any variable. But the second case might be more
surprising. Unlike the expression `x + 1`, `y.append(3)` evaluates to `None`, and
instead, a change is made to the list called `y`. It turns out that lists are allowed to have their contents change, whereas numbers are not.

In this respect, when a data type behaves like a number, we say it is immutable (not changeable), and when it behaves like a list, we say it is mutable (changeable). You will always need to assign the value of an expression like `x + 1` to a variable, and you will usually **not** want to reassign
the value of an expression like `y.append(3)`.

This difference in behavior may seem arbitrary and confusing. For now, all you need to remember is that in Python, numbers and strings are immutable. For all other data types, you should assume that they are mutable.

This is the end of the first practical session. Next week we'll continue with some slightly more advanced concepts, such as loops, dictionaries, and input and output.